<p>crud works!</p>
<button (click)='post()'>Post</button>
<button (click)='get()'>get</button>
<button (click)='delete()'>delete</button>
<button (click)='remove()'>Remove Duplications</button>
<a routerLink='/HomeComponent'> Back</a>
<div class="form-group">
    <label>Id</label><input type='number' [(ngModel)]='id' class='form-control'>
    <label>Name:</label><input type='text' [(ngModel)]='name' class=form-control>
    <label>Color:</label><input type='text' [(ngModel)]='color' class='form-control'>
    <button (click)='post()'>Submit</button>
</div>
